<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{{ .Site.Title }}</title>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css">
    </head>
    <body class="has-navbar-fixed-top">
        <nav class="navbar is-fixed-top has-shadow is-dark">
            <div class="container">
                <a href="/" class="navbar-item has-text-white">
                    <strong>{{ .Site.Title }}</strong>
                </a>
                {{ range where .Site.RegularPages "Section" "top" }}
                <a href="{{ .Permalink }}" class="navbar-item has-text-white">{{ .Title }}</a>
                {{ end}}
            </div>
        </nav>
        <section class="section">
            <div class="container">
            {{ block "content" . }} {{ end }}
            </div>
        </section>
    </body>
</html>
